<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>correct_script.log</file>
        <append>false</append>
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="requestResponseLogger" level="debug">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="communicationLogger" level="info">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="error">
    </root>
</configuration>
